<style>
	.font-size {
		font-size: 90%;
	}
	.bold-size {
		font-weight: 1000;
	}
	.navbar {
		padding: .8rem;
	}
	.navbar-nav li {
		position: relative;
		padding-right: 50px;
	}
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top font-size">
	{% if session.admin %}
		<a class="navbar-brand bold-size" href="/admin/dashboard">Z Y P E R</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-right ml-auto">
                <li><a href="/sitemap" class="nav-link active">Site Map</a></li>
                <li><a href="/admin/dashboard" class="nav-link active">Dashboard</a></li>
                <li><a href="/admin/logout" class="nav-link active">Logout</a></li>
            </ul>
        </div>
    {% else %}
		{% if session.logged_in %}
            <a class="navbar-brand bold-size" href="/index/filter/default/default">Z Y P E R</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li><a href="/index/filter/default/default" class="nav-link active">Index</a></li>
                    <li><a href="/logout" class="nav-link active">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <a class="navbar-brand bold-size" href="/">Z Y P E R</a>
		{% endif %}
	{% endif %}
</nav>
