<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TKR Relatives</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
        <link rel="stylesheet" href="/static/css/sixtyfoldcoloum.css">
		<link rel="stylesheet" href="/static/css/addedit.css">
	</head>
	<body>
		{% include "_navbar.html" %}
        {% include "_messages.html" %}
		<input type="text" id="stateslist" style="display: none;" value="{{states}}">
		<input type="text" id="citieslist" style="display: none;" value="{{cities}}">
		<input type="text" id="phonecodelist" style="display: none;" value="{{phonecode}}">
		<form method="POST" action="/details/add">
			<h1 style="text-align: center;">Create an account</h1>
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
				<div class="col-xs-50 col-sm-50 col-md-50 col-lg-30 col-xl-30">
					<div class="form-group"><!--name-->
						<h4>Name :</h4>
						<select name="salutation" style="width: 20%; margin-right: -4px;" required>
							<option value="Mr. ">Mr.</option>
							<option value="Mrs. ">Mrs.</option>
							<option value="Master. ">Master.</option>
							<option value="Ms. ">Ms.</option>
							<option value="Dr. ">Dr.</option>
						</select>
						<input class="text" type="text" style="width: 80%;" name="name" placeholder="Name" required>
					</div>
					<div class="form-group"><!--address-->
						<h4>Address :</h4>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="housest" placeholder="Address" required>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="locality" placeholder="Landmark">
						<select id="selectcountry" name="country" onchange="showState()" style="width: 50%; margin-right: -4px;" required>
							<option value="" hidden>Country</option>
							{% for country in country %}
								<option value="{{country[1]}} | {{country[0]}}">{{country[1]}}</option>
							{% endfor %}
						</select>
						<select id="selectstate" name="state" onchange="showCity()" style="width: 50%; margin-right: -4px;" required>
							<option value="" hidden>State</option>
							<option value="">Select Country</option>
						</select>
						<select id="selectcity" name="city" style="width: 50%; margin-right: -4px;" required>
							<option value="" hidden>City</option>
							<option value="" value="">Select State</option>
						</select>
						<input type="tel" style="width: 50%; margin-right: -4px;" name="pincode" placeholder="Pincode" pattern="[0-9]{[0-10]}" title="Enter only numbers" required>
					</div>
					<div id="phone" class="form-group"><!--phone-->
						<h4>Phone Number :</h4>
						<div>
							<input type="text" name="phone" value="" style="display: none;">
						</div>
						<div id="extraphone2" style="margin: 0px;">
							<input id="mainphone1" type="text" style="width: 16.66%;" readonly>
							<input id="mainphone2" type="text" style="width: 50%;" readonly>
							<script>
								phone = "{{phonenum}}".split(" ");
								document.getElementById("mainphone1").value = phone[0];
								document.getElementById("mainphone2").value = phone[1];
							</script>
						</div>
					</div>
					<a href="#addphonenum" class="btn btn-default" style="width: 50%; margin-right: -4px;" data-toggle="tab" onclick="showPhoneInput()">Add Phone Number</a>
					<div id="datetime" class="form-group">
						<h4>Date of Birth :</h4>
						<input type="date" class="text" name="dob" required>
					</div>
					<div class="form-group"><!--familyname-->
						<h4>Family Name :</h4>
						<select id="familynames" name="familyname" onchange="showFamilyOtherInput()" required>
							<option hidden>Family Name</option>
							{% for familyname in familynames %}
								<option value="{{familyname.name}}">{{familyname.name}}</option>
							{% endfor %}
							<option value="other">Other</option>
						</select>
					</div>
					<div id="familyotherinput" class="form-group" style="display: none;">
						<h6>Enter Family Name</h6>
						<input class="text" type="text" name="otherfamilyname" value="">
					</div>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
			</div>
			<div style="text-align: center;">
				<button type="submit" class="btn btn-primary text-center" onclick="phoneNumberCollect()" value="Submit">Submit</button>
			</div>
		</form>
		<script src="/static/js/addedit.js"></script>
		<script>
			document.getElementById("selectcountry").options[103].selected = true;
			showState();
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
