<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TKR Relatives</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
        <link rel="stylesheet" href="/static/sixtyfoldcoloum.css">
		<style>
			.btnstretch {
				width: 100%;
			}
			html, body {
				min-height: 100%;
			}
			body, div, form, input, select, p {
				padding: 0;
				margin: 0;
				outline: none;
				font-family: Roboto, Arial, sans-serif;
				font-size: 14px;
				color: #666;
			}
			h1 {
				margin: 0;
				font-weight: 400;
			}
			form {
				padding: 20px;
			}
			select {
				height: 35px;
				width: 100%;
				padding-left: 5px;
				vertical-align: middle;
			}
			input {
				width: 100%;
				padding: 5px;
				margin-top: 2px;
				margin-bottom: 2px;
				vertical-align: middle;
			}
			.btn-default {
				border: 1px solid #000;
			}
		</style>
	</head>
	<body>
		{% include "_navbar.html" %}
        {% include "_messages.html" %}
		<form method="POST" action="/details/add">
			<h1 style="text-align: center;">Create an account</h1>
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
				<div class="col-xs-50 col-sm-50 col-md-50 col-lg-30 col-xl-30">
					<div class="form-group"><!--name-->
						<h4>Name :</h4>
						<select name="salutation" style="width: 20%; margin-right: -4px;" required>
							<option value="Mr. ">Mr.</option>
							<option value="Mrs. ">Mrs.</option>
							<option value="Master. ">Master.</option>
							<option value="Ms. ">Ms.</option>
							<option value="Dr. ">Dr.</option>
						</select>
						<input class="text" type="text" style="width: 80%;" name="name" value="" required>
					</div>
					<div class="form-group"><!--address-->
						<h4>Address :</h4>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="housest" placeholder="House num, Street" value="" required>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="locality" placeholder="Locality" value="" required>
						<select id="selectcity" name="city" onchange="showCityOtherInput.call(this, event)" style="width: 50%; margin-right: -4px;" required>
							<option value="Chennai">Chennai</option>
							<option value="other">Other</option>
						</select>
						<select id="selectstate" name="state" onchange="showStateOtherInput.call(this, event)" style="width: 50%; margin-right: -4px;" required>
							<option value="Tamil Nadu">Tamil Nadu</option>
							<option value="other">Other</option>
						</select>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;display: none;" id="cityotherinput" name="othercity" placeholder="City" value="">
						<input type="text" class="text" style="width: 50%; margin-right: -4px;display: none;" id="stateotherinput" name="otherstate" placeholder="State" value="">
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="pincode" placeholder="Pincode" value="" required>
					</div>
					<div id="phone" class="form-group"><!--phone-->
						<h4>Phone Number :</h4>
						<input type="text" class="text" style="width: 50%;" name="phone" value="{{phonenum}}" required readonly>
						<a href="#addphonenum" class="btn btn-default" style="width: 50%; margin-right: -4px;" data-toggle="tab" onclick="showPhoneInput.call(this, event)">Add Phone Number</a>
					</div>
					<div id="datetime" class="form-group">
						<h4>Date of Birth :</h4>
						<input type="date" class="text" name="dob" value="" required>
					</div>
					<div class="form-group"><!--familyname-->
						<h4>Family Name :</h4>
						<select name="familyname" onchange="showFamilyOtherInput.call(this, event)" required>
							<option value=""></option>
							{% for familyname in familynames %}
								<option value="{{familyname.name}}">{{familyname.name}}</option>
							{% endfor %}
							<option value="other">Other</option>
						</select>
					</div>
					<div id="familyotherinput" class="form-group" style="display: none;">
						<h6>Enter Family Name</h6>
						<input class="text" type="text" name="otherfamilyname" value="">
					</div>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
			</div>
			<div style="text-align: center;">
				<button type="submit" class="btn btn-primary text-center" onclick="phoneNumberCollect()" value="Submit">Submit</button>
			</div>
		</form>
		<script>
			var array = document.getElementsByName("familyname").item(0).children;
			for (let index = 0; index < array.length; index++) {
				if (array.item(index).value == "") {
					document.getElementsByName("familyname").item(0).children.item(index).selected = true;
				}
			}
			function showFamilyOtherInput(event) {
				if (this.options[this.selectedIndex].text == "Other") {
					document.getElementById("familyotherinput").style.display = "block";
				} else {
					document.getElementById("familyotherinput").style.display = "none";
				}
			}
			function showCityOtherInput(event) {
				if (this.options[this.selectedIndex].text == "Other") {
					document.getElementById("cityotherinput").style.display = "initial";
				} else {
					document.getElementById("cityotherinput").style.display = "none";
				}
			}
			function showStateOtherInput(event) {
				if (this.options[this.selectedIndex].text == "Other") {
					document.getElementById("stateotherinput").style.display = "initial";
				} else {
					document.getElementById("stateotherinput").style.display = "none";
				}
			}
			function showPhoneInput(event) {
				var x = document.createElement("INPUT");
				x.setAttribute("type", "tel");
				x.setAttribute("pattern", "[+]{1}[0-9]/[-]{[1-5} [0-9]{[10-20]}");
				x.setAttribute("style", "width: 50%;")
				x.setAttribute("required", "");
				document.getElementById("phone").appendChild(x);
			}
			function phoneNumberCollect() {
				var phoneParent = document.getElementById("phone");
				var last = phoneParent.children.length;
				var combinedphone = phoneParent.children.item(1).value;
				for (let index = 3; index < last; index++) {
					combinedphone = combinedphone + ", " + phoneParent.children.item(index).value;
				}
				document.getElementById("phone").children.item(1).value = combinedphone;
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
