<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TKR Relatives</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
			.btnstretch {
				width: 100%;
			}
			.btn-default {
				border: 1px solid #000;
			}
		</style>
	</head>
	<body>
		{% include "_navbar.html" %}
		{% include "_messages.html" %}
		<h1 class="text-center">{{table}} {{tableid}}</h1>
		{% if registerdet != asdfljhj %}
			<h1>Register Details</h1>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Password</th>
					<th>Approval</th>
					{% if table == "Row Delete" or table == "Row Edit" %}
						<th></th>
					{% endif %}
				</tr>
				{% for registerdet in registerdet %}
					<tr>
						<td>{{registerdet.id}}</td>
						<td>{{registerdet.name}}</td>
						<td>{{registerdet.phone}}</td>
						<td>Sorry can't show :)</td>
						<td>{{registerdet.approval}}</td>
						{% if table == "Row Delete" %}
							<td><a href="/admin/table/row/delete/1/{{registerdet.id}}" class="btn btn-default btnstretch">{{registerdet.id}}</a></td>
						{% elif table == "Row Edit" %}
							<td><a href="/admin/table/row/edit/{{session.editnumber}}/{{registerdet.id}}" class="btn btn-default btnstretch">{{registerdet.id}}</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if familydet != asdfljhj %}
			<h1>Family Details</h1>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Salutation</th>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>House Street</th>
					<th>Landmark</th>
					<th>Country</th>
					<th>State</th>
					<th>City</th>
					<th>Pincode</th>
					<th>Phone Number</th>
					<th>Family Name</th>
					{% if table == "Row Delete" or table == "Row Edit" %}
						<th></th>
					{% endif %}
				</tr>
				{% for familydet in familydet %}
					<tr>
						<td>{{familydet.id}}</td>
						<td>{{familydet.salutation}}</td>
						<td>{{familydet.name}}</td>
						<td>{{familydet.dateofbirth}}</td>
						<td>{{familydet.housestreet}}</td>
						<td>{{familydet.neighbourhood}}</td>
						<td>{{familydet.country}}</td>
						<td>{{familydet.state}}</td>
						<td>{{familydet.city}}</td>
						<td>{{familydet.pincode}}</td>
						<td>{{familydet.phone}}</td>
						<td>{{familydet.familyname}}</td>
						{% if table == "Row Delete" %}
							<td><a href="/admin/table/row/delete/2/{{familydet.id}}" class="btn btn-default btnstretch">{{familydet.id}}</a></td>
						{% elif table == "Row Edit" %}
							<td><a href="/admin/table/row/edit/{{session.editnumber}}/{{familydet.id}}" class="btn btn-default btnstretch">{{familydet.id}}</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if familynames != asdfljhj %}
			<h1>Family Names Details</h1>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Name</th>
					{% if table == "Row Delete" or table == "Row Edit" %}
						<th></th>
					{% endif %}
				</tr>
				{% for familynames in familynames %}
					<tr>
						<td>{{familynames.id}}</td>
						<td>{{familynames.name}}</td>
						{% if table == "Row Delete" %}
							<td><a href="/admin/table/row/delete/3/{{familynames.id}}" class="btn btn-default btnstretch">{{familynames.id}}</a></td>
						{% elif table == "Row Edit" %}
							<td><a href="/admin/table/row/edit/{{session.editnumber}}/{{familynames.id}}" class="btn btn-default btnstretch">{{familynames.id}}</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}
		
		{% if citystate != asdfljhj %}
			<h1>City State Details</h1>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>City</th>
					<th>State</th>
					{% if table == "Row Delete" or table == "Row Edit" %}
						<th></th>
					{% endif %}
				</tr>
				{% for citystate in citystate %}
					<tr>
						<td>{{citystate.id}}</td>
						<td>{{citystate.city}}</td>
						<td>{{citystate.state}}</td>
						{% if table == "Row Delete" %}
							<td><a href="/admin/table/row/delete/3/{{citystate.id}}" class="btn btn-default btnstretch">{{citystate.id}}</a></td>
						{% elif table == "Row Edit" %}
							<td><a href="/admin/table/row/edit/{{session.editnumber}}/{{citystate.id}}" class="btn btn-default btnstretch">{{citystate.id}}</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		<br>
		<div class="text-center">
			<a href="/admin/dashboard" class="btn btn-default btnstretch">Back</a>
		</div>
		<br>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
