<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TKR Relatives</title>
        <link rel="icon" type="image/png" href="/static/Favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/sixtyfoldcoloum.css">
        <style>
			html, body {
				min-height: 100%;
			}
            .btnstretch {
                width: 100%;
            }
            .btn-default {
                border: 1px solid #000;
            }
			body, div, form, input, select, p {
				padding: 0;
				margin: 0;
				outline: none;
				font-family: Roboto, Arial, sans-serif;
				font-size: 14px;
				color: #666;
			}
			form {
				padding: 20px;
			}
			select {
				height: 35px;
				width: 100%;
				padding: 5px;
				margin-top: 2px;
				margin-bottom: 2px;
			}
			input {
				width: 100%;
				padding: 5px;
				margin-top: 2px;
				margin-bottom: 2px;
				vertical-align: middle;
			}
        </style>
    </head>
    <body>
        {% include "_navbar.html" %}
        {% include "_messages.html" %}
        <div class="row" style="width: 100%;">
            <p class="col-15"></p>
            <h1 class="col-30 text-center">TK Renganathan Relatives</h1>
            <p class="col-15"></p>
        </div>
        <form action="/admin/relation/add" method="POST" id="formname">
            <div class="row">
                <div class="form-group col-30">
                    <h4>Name :</h4>
                    <select name="name" id="personname0" onchange="otherInput.call(this, event, 'personname0')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-30">
                    <h4>Spouse :</h4>
                    <select name="spouse" id="spousename0" onchange="otherInput.call(this, event, 'spousename0')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                        <option value="None">None</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-30">
                    <h4>Father :</h4>
                    <select name="father" id="fathername0" onchange="otherInput.call(this, event, 'fathername0')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group col-30">
                    <h4>Mother :</h4>
                    <select name="mother" id="mothername0" onchange="otherInput.call(this, event, 'mothername0')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-30">
                    <div style="margin: 0px;" id="childrendiv">
                        <input type="hidden" name="children">
                        <h4>Children :</h4>
                        <div id="childrenname0">
                            <select onchange="otherInput.call(this, event, 'childrenname0')">
                                <option value="">Select</option>
                                {% for one in person %}
                                    <option value="{{one.name}}">{{one.name}}</option>
                                {% endfor %}
                                <option value="None">None</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <a class="btn btn-default" onclick="selectmultioption('childrenname0')">Add Children</a>
                    <a class="btn btn-default" onclick="otherInput.call(this, event, 'childrenname0')">Add Other Children</a>
                </div>
                <div class="form-group col-30">
                    <div style="margin: 0px;" id="siblingdiv">
                        <input type="hidden" name="siblings">
                        <h4>Sibling :</h4>
                        <div id="siblingname0">
                            <select onchange="otherInput.call(this, event, 'siblingname0')">
                                <option value="">Select</option>
                                {% for one in person %}
                                    <option value="{{one.name}}">{{one.name}}</option>
                                {% endfor %}
                                <option value="None">None</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <a class="btn btn-default" onclick="selectmultioption('siblingname0')">Add Sibling</a>
                    <a class="btn btn-default" onclick="otherInput.call(this, event, 'siblingname0')">Add Other Sibling</a>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary" onclick="collectChildSibling()" value="Submit">Submit</button>
            </div>
        </form>
        <div style="text-align: center;">
            <a href="/admin/relation" class="btn btn-default">Back</a>
        </div>
        <script>
            function selectmultioption(eleid) {
                var parentdiv = document.getElementById(eleid).parentElement;
                var selectid = eleid.slice(0,-1) + String(Number(parentdiv.children.item(parentdiv.children.length-1).id.slice(-1)) + 1);
                var otherdiv = document.createElement("div");
                otherdiv.setAttribute("id", selectid);
                parentdiv.appendChild(otherdiv);
                var select = document.createElement("select");
                select.setAttribute("style", "width: 80%; padding: 5px;");
                select.setAttribute("onchange", "otherInput.call(this, event, '" + selectid + "')");
                select.setAttribute("required", "");
                document.getElementById(selectid).appendChild(select);
                var lastselect = parentdiv.children.item(parentdiv.children.length - 1).children.item(0);
                var opt = document.createElement("option");
                opt.setAttribute("value", " ");
                opt.innerHTML = "Select";
                lastselect.appendChild(opt);
                var lstname = nameslist();
                for (let j = 0; j < lstname.length; j++) {
                    var option = document.createElement("option");
                    option.setAttribute("value", lstname[j]);
                    option.innerHTML = lstname[j];
                    lastselect.appendChild(option);
                }
                var opti = document.createElement("option");
                opti.setAttribute("value", "None");
                opti.innerHTML = "None";
                lastselect.appendChild(opti);
                var optii = document.createElement("option");
                optii.setAttribute("value", "Other");
                lastselect.appendChild(optii);
                var deletebutton = document.createElement("button");
                deletebutton.setAttribute("onclick", "deleteOtherInput('"+selectid+"', '')");
                deletebutton.setAttribute("class", "btn btn-default");
                deletebutton.setAttribute("style", "border-color: transparent");
                deletebutton.setAttribute("data-toggle", "tab");
                deletebutton.innerHTML = "X";
                document.getElementById(selectid).appendChild(deletebutton);
            }
            function otherInput(event, elementid) {
                if (this.options == undefined || this.options[this.selectedIndex].text == "Other") {
                    var parentdiv = document.getElementById(elementid).parentElement;
                    if (this.options != undefined) {
                        document.getElementById(elementid).style.display = "none";
                    }
                    var otherinputid = elementid.slice(0,-1) + String(Number(parentdiv.children.item(parentdiv.children.length-1).id.slice(-1)) + 1);
                    var otherdiv = document.createElement("div");
                    otherdiv.setAttribute("id", otherinputid);
                    parentdiv.appendChild(otherdiv);
                    var otherinput = document.createElement("input");
                    otherinput.setAttribute("name", otherinputid);
                    otherinput.setAttribute("style", "width: 80%;");
                    document.getElementById(otherinputid).appendChild(otherinput);
                    var deletebutton = document.createElement("button");
                    if (this.options == undefined) {
                        deletebutton.setAttribute("onclick", "deleteOtherInput('"+otherinputid+ "', '')");
                    } else {
                        deletebutton.setAttribute("onclick", "deleteOtherInput('"+otherinputid+ "', '" + elementid+"')");
                    }
                    deletebutton.setAttribute("class", "btn btn-default");
                    deletebutton.setAttribute("style", "border-color: transparent");
                    deletebutton.setAttribute("data-toggle", "tab");
                    deletebutton.innerHTML = "X";
                    document.getElementById(otherinputid).appendChild(deletebutton);
				}
            }
            function deleteOtherInput(otherinp, eleid) {
                if (eleid != '') {
                    document.getElementById(eleid).style.display = "block";
                }
                document.getElementById(otherinp).remove();
            }
            function nameslist() {
                var lst = "{{person}}".replace("[(&#39;", "");
                lst = lst.replace("&#39;,)]", "");
                nameslst = lst.split("&#39;,), (&#39;");
                return nameslst;
            }
            function checkOtherValue(elementid) {
                var parentdiv = document.getElementById(elementid).parentElement;
                if (parentdiv.children.item(1).value == "Other") {
                    var anotheroption = document.createElement("option");
                    anotheroption.setAttribute("value", parentdiv.children.item(2).children.item(0).value);
                    anotheroption.setAttribute("selected", "");
                    document.getElementById(elementid).appendChild(anotheroption);
                }
            }
            function collectChildSibling() {
                checkOtherValue("spousename0");
                checkOtherValue("fathername0");
                checkOtherValue("mothername0");
                var child = document.getElementById("childrendiv");
                var childvalue = child.children.item(2).children.item(0).value;
                for (let i = 3; i < child.children.length; i++) {
                    if (child.children.item(i).children.item(0).value != "Other") {
                        childvalue = childvalue + ", " + child.children.item(i).children.item(0).value;
                    }
                }
                childvalue = childvalue.replace("Other, ", "");
                child.children.item(0).value = childvalue;
                var sibling = document.getElementById("siblingdiv");
                var siblingvalue = sibling.children.item(2).children.item(0).value;
                for (let i = 3; i < sibling.children.length; i++) {
                    if (sibling.children.item(i).children.item(0).value != "Other") {
                        siblingvalue = siblingvalue + ", " + sibling.children.item(i).children.item(0).value;
                    }
                }
                siblingvalue = siblingvalue.replace("Other, ", "");
                sibling.children.item(0).value = siblingvalue;
            }
        </script>
    </body>
</html>
