<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TKR Relatives</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/sixtyfoldcoloum.css">
		<style>
			.btnstretch {
				width: 100%;
			}
			html, body {
				min-height: 100%;
			}
			body, div, form, input, select, p {
				padding: 0;
				margin: 0;
				outline: none;
				font-family: Roboto, Arial, sans-serif;
				font-size: 14px;
				color: #666;
			}
			h1 {
				margin: 0;
				font-weight: 400;
			}
			form {
				padding: 20px;
			}
			select {
				height: 35px;
				width: 100%;
				padding: 5px;
				margin-top: 2px;
				margin-bottom: 2px;
			}
			input {
				width: 100%;
				padding: 5px;
				margin-top: 2px;
				margin-bottom: 2px;
				vertical-align: middle;
			}
			.btn-default {
				border: 1px solid #000;
			}
			#addressrow div {
				padding-right: 0px;
			}
		</style>
	</head>
	<body>
		{% include "_navbar.html" %}
		{% include "_messages.html" %}
		{% if session.number == "1and2" %}
			<form action="/admin/table/row/add/1and2" method="POST">
				<h1>Register Details</h1>
				<div class="row">
					<div class="form-group col-15">
						<h4>User Name :</h4>
						<input type="text" name="username">
					</div>
					<div class="form-group col-15" id="mainphone">
						<h4>Phone Number :</h4>
						<div class="row" style="padding-left: 5%; padding-right: 5%;">
							<select name="phonecode" class="col-15" style="padding-right: 0px; padding-left: 0px; font-size: small;">
								{% for phonecode in phonecode %}
									<option value="{{phonecode[2]}}">{{phonecode[2]}}</option>
								{% endfor %}
							</select>
							<input type="tel" class="col-45" name="mainphone" pattern="[0-9]{[0-20]}" title="Enter only numbers" id="mainphoneinput">
						</div>
					</div>
					<div class="form-group col-15">
						<h4>Password :</h4>
						<input type="text" name="password">
					</div>
					<div class="form-group col-15">
						<h4>Approval :</h4>
						<select name="approval">
							<option value="Approved">Approved</option>
							<option value="Waiting">Waiting</option>
						</select>
					</div>
				</div>
				<h1>Family Details</h1>
				<div class="row">
					<div class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15"><!--name-->
						<h4>Name :</h4>
						<select name="salutation" style="width: 20%; margin-right: -4px;">
							<option value="Mr. ">Mr.</option>
							<option value="Mrs. ">Mrs.</option>
							<option value="Master. ">Master.</option>
							<option value="Ms. ">Ms.</option>
							<option value="Dr. ">Dr.</option>
						</select>
						<input type="text" class="text" style="width: 80%;" name="name">
					</div>
					<div class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-45 col-xl-45"><!--address-->
						<h4>Address :</h4>
						<div class="row" id="addressrow">
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<input type="text" class="text" style="width: 100%;" name="housest" placeholder="Address">
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<input type="text" class="text" style="width: 100%;" name="locality" placeholder="Landmark">
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<select id="selectcountry" name="country" onchange="showState()" style="margin-right: -4px;">
									<option hidden>Country</option>
									{% for country in country %}
										<option value="{{country[1]}} | {{country[0]}}">{{country[1]}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<select id="selectstate" name="state" onchange="showCity()" style="margin-right: -4px;">
									<option hidden>State</option>
									<option value="">Select Country</option>
								</select>
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<select id="selectcity" name="city" style="margin-right: -4px;">
									<option hidden>City</option>
									<option value="">Select State</option>
								</select>
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<input type="text" class="text" style="width: 100%;" name="pincode" placeholder="Pincode">
							</div>
						</div>
					</div>
					<div id="phone" class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15"><!--phone-->
						<h4>Phone Number :</h4>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="phone" readonly>
						<a id="extraphone3" href="#addphonenum" class="btn btn-default" style="width: 50%;" data-toggle="tab" onclick="showPhoneInput()">Add Phone Number</a>
					</div>
					<div id="datetime" class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15">
						<h4>Date of Birth :</h4>
						<input type="date" class="text" name="dateofbirth">
					</div>
					<div class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15"><!--familyname-->
						<h4>Family Name :</h4>
						<select name="familyname" onchange="showFamilyOtherInput.call(this, event)">
							<option value=""></option>
							{% for familyname in familynames %}
								<option value="{{familyname.name}}">{{familyname.name}}</option>
							{% endfor %}
							<option value="other">Other</option>
						</select>
					</div>
					<div id="otherinput" class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15" style="display: none;">
						<h6>Enter Family Name</h6>
						<input class="text" type="text" name="otherfamilyname">
					</div>
				</div>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-primary text-center" onclick="phoneNumberCollect()" value="Submit">Submit</button>
				</div>
			</form>
		{% endif %}

		{% if session.number == "3" %}
			<form action="/admin/table/row/add/3" method="POST">
				<h1>Family Names Details</h1>
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="text" name="familyname">
						</td>
					</tr>
				</table>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-primary text-center" value="Submit">Submit</button>
				</div>
			</form>
		{% endif %}

		<br>
		<div class="text-center">
			<a href="/admin/dashboard" class="btn btn-default btnstretch">Back</a>
		</div>
		<br>
		<script>
			var mainphone = document.getElementById("mainphone").children.item(1);
			mainphone.children.item(0).onchange = function() {
				var phonecode = mainphone.children.item(0).value;
				document.getElementById("phone").children.item(1).value = phonecode;
			}
			mainphone.children.item(1).onkeyup = function() {
				var phonecode = mainphone.children.item(0).value;
				var phonenum = mainphone.children.item(1).value;
				document.getElementById("phone").children.item(1).value = phonecode + " " + phonenum;
			}
			function showFamilyOtherInput(event) {
				if (this.options[this.selectedIndex].text == "Other") {
					document.getElementById("otherinput").style.display = "block";
				} else {
					document.getElementById("otherinput").style.display = "none";
				}
			}
			function eraseoptions(elementid, check) {
				var options = document.getElementById(elementid);
				i = 1;
				while (i < options.length) {
					var num =  options.length
					options.removeChild(options.lastElementChild);
				}
				if (elementid === "selectcity" && check ==="1") {
					var a = document.createElement("option");
					a.setAttribute("value", "");
					a.innerHTML = "Select State";
					options.appendChild(a);
				}
			}
			function showState() {
				eraseoptions("selectstate", "2");
				eraseoptions("selectcity", "1");
				thist = document.getElementById("selectcountry");
				var country = thist.options[thist.selectedIndex].value;
				var countryid = country.split(" | ")[1];
				var states = "{{states}}".split("[");
				for (let i = 2; i < states.length; i++) {
					var coloumns = states[i].replace("],",'').split(",");
					if (coloumns[0] == countryid) {
						var statename = coloumns[2].replace("&#39;","");
						var statename = statename.replace("&#39;","");
						var statevalue = [statename, "|", coloumns[1]];
						var x = document.createElement("option");
						x.setAttribute("value", statevalue.join(""));
						var z = document.createTextNode(statename);
						x.appendChild(z);
						document.getElementById("selectstate").appendChild(x);
					}
				}
			}
			function showCity() {
				eraseoptions("selectcity", "2");
				thist = document.getElementById("selectstate");
				var state = thist.options[thist.selectedIndex].value;
				var stateid = state.split(" | ")[1];
				var cities = "{{cities}}".split("[");
				for (let i = 2; i < cities.length; i++) {
					var coloumns = cities[i].replace("],",'').split(",");
					if (coloumns[0] == stateid) {
						var cityname = coloumns[2].replace("&#39;","");
						var cityname = cityname.replace("&#39;","");
						var x = document.createElement("option");
						x.setAttribute("value", cityname);
						var z = document.createTextNode(cityname);
						x.appendChild(z);
						document.getElementById("selectcity").appendChild(x);
					}
				}
			}
			function showPhoneInput() {
				var anotherphone = document.getElementById("phone");
				var lastelement = anotherphone.children.length;
				var rowdiv = document.createElement("div");
				var predivid = document.getElementById("phone").children.item(lastelement-1).getAttribute("id").replace("extraphone", "");
				var nowdivid = Number(predivid) + 1;
				divid = "extraphone" + String(nowdivid);
				rowdiv.setAttribute("id", divid);
				rowdiv.setAttribute("class", "row");
				rowdiv.setAttribute("style", "margin: 0px;")
				anotherphone.appendChild(rowdiv);
				/**/
				var select = document.createElement("select");
				select.setAttribute("class", "col-20");
				select.setAttribute("style", "padding-right: 0px; padding-left: 0px; font-size: small; margin-top: 2px; margin-bottom: 2px;");
				anotherphone.children.item(lastelement).appendChild(select);
				/**/
				var phonecode = "{{phonecode}}".split("[").slice(2);
				for (let i = 0; i < 250; i++) {
					var phonedet = phonecode[i].split(", ").slice(2);
					var phone = phonedet[0].replace("&#39;","")
					var phone = phone.replace("&#39;]","")
					var option = document.createElement("option");
					option.setAttribute("value", phone);
					option.innerHTML = phone;
					anotherphone.children.item(lastelement).children.item(0).appendChild(option);
				}
				var input = document.createElement("INPUT");
				input.setAttribute("type", "tel");
				input.setAttribute("class", "col-30");
				input.setAttribute("pattern", "[0-9]{[0-20]}");
				input.setAttribute("title", "Enter only numbers")
				input.setAttribute("style", "padding: 5px");
				input.setAttribute("required", "");
				anotherphone.children.item(lastelement).appendChild(input);
				/**/
				var deletebutton = document.createElement("button");
				deletebutton.setAttribute("onclick", "deletePhone("+divid+")")
				deletebutton.setAttribute("class", "btn btn-default col-10");
				deletebutton.setAttribute("style", "border-color: transparent")
				deletebutton.setAttribute("data-toggle", "tab");
				deletebutton.innerHTML = "X";
				anotherphone.children.item(lastelement).appendChild(deletebutton);
				/**/
				anotherphone.children.item(lastelement).children.item(0).options[102].selected = true;
			}
			function phoneNumberCollect() {
				var phoneParent = document.getElementById("phone");
				var last = phoneParent.children.length;
				for (let index = 3; index < last; index++) {
					combinedphone = combinedphone + ", " + phoneParent.children.item(index).value;
				}
				phoneParent.children.item(1).value = combinedphone;
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
