<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TKR Relatives</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/sixtyfoldcoloum.css">
		<link rel="stylesheet" href="/static/css/addedit.css">
	</head>
	<body>
		{% include "_navbar.html" %}
		{% include "_messages.html" %}
		{% if session.number == "1and2" %}
			<input type="text" id="stateslist" style="display: none;" value="{{states}}">
			<input type="text" id="citieslist" style="display: none;" value="{{cities}}">
			<input type="text" id="phonecodelist" style="display: none;" value="{{phonecode}}">
			<form action="/admin/table/row/add/1and2" method="POST">
				<h1>Register Details</h1>
				<div class="row">
					<div class="form-group col-15">
						<h4>User Name :</h4>
						<input type="text" name="username">
					</div>
					<div class="form-group col-15" id="mainphone">
						<h4>Phone Number :</h4>
						<div class="row" style="padding-left: 5%; padding-right: 5%;">
							<select name="phonecode" class="col-15" style="padding-right: 0px; padding-left: 0px; font-size: small;">
								{% for phonecode in phonecode %}
									<option value="{{phonecode[2]}}">{{phonecode[2]}}</option>
								{% endfor %}
							</select>
							<input type="tel" class="col-45" name="mainphone" pattern="[0-9]{[0-20]}" title="Enter only numbers" id="mainphoneinput">
						</div>
					</div>
					<div class="form-group col-15">
						<h4>Password :</h4>
						<input type="text" name="password">
					</div>
					<div class="form-group col-15">
						<h4>Approval :</h4>
						<select name="approval">
							<option value="Approved">Approved</option>
							<option value="Waiting">Waiting</option>
						</select>
					</div>
				</div>
				<h1>Family Details</h1>
				<div class="row">
					<div class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15"><!--name-->
						<h4>Name :</h4>
						<select name="salutation" style="width: 20%; margin-right: -4px;">
							<option value="Mr. ">Mr.</option>
							<option value="Mrs. ">Mrs.</option>
							<option value="Master. ">Master.</option>
							<option value="Ms. ">Ms.</option>
							<option value="Dr. ">Dr.</option>
						</select>
						<input type="text" class="text" style="width: 80%;" name="name">
					</div>
					<div class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-45 col-xl-45"><!--address-->
						<h4>Address :</h4>
						<div class="row" id="addressrow">
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<input type="text" class="text" style="width: 100%;" name="housest" placeholder="Address">
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<input type="text" class="text" style="width: 100%;" name="locality" placeholder="Landmark">
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<select id="selectcountry" name="country" onchange="showState()" style="margin-right: -4px;">
									<option hidden>Country</option>
									{% for country in country %}
										<option value="{{country[1]}} | {{country[0]}}">{{country[1]}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<select id="selectstate" name="state" onchange="showCity()" style="margin-right: -4px;">
									<option hidden>State</option>
									<option value="">Select Country</option>
								</select>
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<select id="selectcity" name="city" style="margin-right: -4px;">
									<option hidden>City</option>
									<option value="">Select State</option>
								</select>
							</div>
							<div class="col-xs-60 col-sm-60 col-md-60 col-lg-10 col-xl-10">
								<input type="text" class="text" style="width: 100%;" name="pincode" placeholder="Pincode">
							</div>
						</div>
					</div>
					<div id="phone" class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15"><!--phone-->
						<h4>Phone Number :</h4>
						<div>
							<input type="text" name="phone" value="" style="display: none;">
							<a href="#addphonenum" class="btn btn-default" data-toggle="tab" onclick="showPhoneInput()">Add Phone Number</a>
						</div>
						<div id="extraphone2" style="margin: 0px;">
							<input type="text" style="width: 16.66%;" readonly>
							<input type="text" style="width: 50%;" readonly>
						</div>
					</div>
					<div id="datetime" class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15">
						<h4>Date of Birth :</h4>
						<input type="date" class="text" name="dateofbirth">
					</div>
					<div class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15"><!--familyname-->
						<h4>Family Name :</h4>
						<select name="familyname" onchange="showFamilyOtherInput.call(this, event)">
							<option value=""></option>
							{% for familyname in familynames %}
								<option value="{{familyname.name}}">{{familyname.name}}</option>
							{% endfor %}
							<option value="other">Other</option>
						</select>
					</div>
					<div id="otherinput" class="form-group col-xs-60 col-sm-60 col-md-60 col-lg-15 col-xl-15" style="display: none;">
						<h6>Enter Family Name</h6>
						<input class="text" type="text" name="otherfamilyname">
					</div>
				</div>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-primary text-center" onclick="phoneNumberCollect()" value="Submit">Submit</button>
				</div>
			</form>
		{% endif %}

		{% if session.number == "3" %}
			<form action="/admin/table/row/add/3" method="POST">
				<h1>Family Names Details</h1>
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="text" name="familyname">
						</td>
					</tr>
				</table>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-primary text-center" value="Submit">Submit</button>
				</div>
			</form>
		{% endif %}

		<br>
		<div class="text-center">
			<a href="/admin/dashboard" class="btn btn-default btnstretch">Back</a>
		</div>
		<br>
		<script src="/static/js/addedit.js"></script>
		<script>
			var mainphone = document.getElementById("mainphone").children.item(1);
			mainphone.children.item(0).onchange = function() {
				var phonecode = mainphone.children.item(0).value;
				document.getElementById("extraphone2").children.item(0).value = phonecode;
			}
			mainphone.children.item(1).onkeyup = function() {
				var phonenum = mainphone.children.item(1).value;
				document.getElementById("extraphone2").children.item(1).value = phonenum;
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
