<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>
			.btnstretch {
				width: 100%;
			}
			.btn-default {
				border: 1px solid #000;
			}
        </style>
    </head>
    <body>
        {% include "_navbar.html" %}
        {% include "_messages.html" %}
        <div class="text-center">
            <h1>TK Renganathan Relatives</h1>
        </div>
        <div align="right">
            <a href="/admin/approval/none/none" class="btn btn-default">Approval</a>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Register</th>
                <th>Details</th>
                <th>Family Name</th>
                <th>All</th>
            </tr>
            <tr>
                <td>Display Tables</td>
                <td><a href="/admin/table/display/1" class="btn btn-default btnstretch">Register</a></td>
                <td><a href="/admin/table/display/2" class="btn btn-default btnstretch">Details</a></td>
                <td><a href="/admin/table/display/3" class="btn btn-default btnstretch">Family Name</a></td>
                <td><a href="/admin/table/display/All" class="btn btn-default btnstretch">All</a></td>
            </tr>
            <tr>
                <td>Delete/Default Table</td>
                <td><a href="/admin/table/delete/1" class="btn btn-default btnstretch">Register</a></td>
                <td><a href="/admin/table/delete/2" class="btn btn-default btnstretch">Details</a></td>
                <td><a href="/admin/table/delete/3" class="btn btn-default btnstretch">Family Name</a></td>
                <td><a href="/admin/table/delete/All" class="btn btn-default btnstretch">All</a></td>
            </tr>
            <tr>
                <td>Delete Table Rows</td>
                <td><a href="/admin/table/row/delete/1/chooserow" class="btn btn-default btnstretch">Register</a></td>
                <td><a href="/admin/table/row/delete/2/chooserow" class="btn btn-default btnstretch">Details</a></td>
                <td><a href="/admin/table/row/delete/3/chooserow" class="btn btn-default btnstretch">Family Name</a></td>
                <td><a href="/admin/table/row/delete/All/chooserow" class="btn btn-default btnstretch">All</a></td>
            </tr>
            <tr>
                <td>Add Table Rows !</td>
                <td colspan="2"><a href="/admin/table/row/add/1and2" class="btn btn-default btnstretch">Register & Details</a></td>
                <td><a href="/admin/table/row/add/3" class="btn btn-default btnstretch">Family Name</a></td>
                <td></td>
            </tr>
            <tr>
                <td>Edit Table Rows !</td>
                <td><a href="/admin/table/row/edit/1/chooserow" class="btn btn-default btnstretch">Register</a></td>
                <td><a href="/admin/table/row/edit/2/chooserow" class="btn btn-default btnstretch">Details</a></td>
                <td><a href="/admin/table/row/edit/3/chooserow" class="btn btn-default btnstretch">Family Name</a></td>
                <td></td>
            </tr>
        </table>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    </body>
</html>