<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TKR Relatives</title>
        <link rel="icon" type="image/png" href="/static/Favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/sixtyfoldcoloum.css">
		<link rel="stylesheet" href="/static/css/addedit.css">
    </head>
    <body>
        <input type="text" id="allperson" style="display: none;" value="{{person}}">
        {% include "_navbar.html" %}
        {% include "_messages.html" %}
        <div class="row" style="width: 100%;">
            <p class="col-15"></p>
            <h1 class="col-30 text-center">TK Renganathan Relatives</h1>
            <p class="col-15"></p>
        </div>
        <form action="/admin/relation/edit/{{relationdet.id}}" method="POST" id="formname">
            <div class="row">
                <div class="form-group col-30">
                    <h4>Name :</h4>
                    <input type="text" name="name" value="{{relationdet.name}}" readonly>
                </div>
                <div class="form-group col-30">
                    <h4>Spouse :</h4>
                    <select name="spouse" id="spousename" onchange="otherInput.call(this, event, 'spousename')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                        <option value="None">None</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-30">
                    <h4>Father :</h4>
                    <select name="father" id="fathername" onchange="otherInput.call(this, event, 'fathername')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group col-30">
                    <h4>Mother :</h4>
                    <select name="mother" id="mothername" onchange="otherInput.call(this, event, 'mothername')">
                        <option value="">Select</option>
                        {% for one in person %}
                            <option value="{{one.name}}">{{one.name}}</option>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-30">
                    <div style="margin: 0px;" id="childrendiv">
                        <input type="hidden" name="children">
                        <h4>Children :</h4>
                        <div id="childrenname0"></div>
                    </div>
                    <a class="btn btn-default" onclick="selectmultioption('childrendiv', '')">Add Children</a>
                </div>
                <div class="form-group col-30">
                    <div style="margin: 0px;" id="siblingdiv">
                        <input type="hidden" name="siblings">
                        <h4>Sibling :</h4>
                        <div id="siblingname0"></div>
                    </div>
                    <a class="btn btn-default" onclick="selectmultioption('siblingdiv', '')">Add Sibling</a>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary" onclick="collectChildSibling()" value="Submit">Submit</button>
            </div>
        </form>
        <div style="text-align: center;">
            <a href="/admin/relation" class="btn btn-default">Back</a>
        </div>
        <script src="/static/js/relation.js"></script>
        <script>
            selectoption("spousename", "{{relationdet.spouse}}");
            selectoption("fathername", "{{relationdet.father}}");
            selectoption("mothername", "{{relationdet.mother}}");
            selectmultioption("childrendiv", "{{relationdet.child}}");
            selectmultioption("siblingdiv", "{{relationdet.sibling}}");
        </script>
    </body>
</html>
