<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/sixtyfoldcoloum.css">
		<style>
			.btnstretch {
				width: 100%;
			}
			.btnstretch {
				width: 100%;
			}
			html, body {
				min-height: 100%;
			}
			body, div, form, input, select, p {
				padding: 0;
				margin: 0;
				outline: none;
				font-family: Roboto, Arial, sans-serif;
				font-size: 14px;
				color: #666;
			}
			h1 {
				margin: 0;
				font-weight: 400;
			}
			form {
				padding: 20px;
			}
			select {
				height: 35px;
				width: 100%;
				padding: 5px;
				vertical-align: middle;
			}
			input {
				width: 100%;
				padding: 5px;
				margin-top: 2px;
				margin-bottom: 2px;
				vertical-align: middle;
			}
			.btn-default {
				border: 1px solid #000;
			}
		</style>
	</head>
	<body>
		{% include "_navbar.html" %}
		{% include "_messages.html" %}
		<form action="/admin/table/row/edit/{{session.editnumber}}/{{session.rowid}}" method="POST">
			{% if session.editnumber == "1" %}
			<h1>Register Details</h1>
			<div class="row">
				<div class="form-group col-15">
					<h4>User Name</h4>
					<input type="text" name="name" value="{{register.name}}">
				</div>
				<div class="form-group col-15">
					<h4>Phone Number</h4>
					<input type="tel" name="phone" value="{{register.phone}}" pattern="[+]{1}[0-9]/[-]{[1-5} [0-9]{[10-20]}">
				</div>
				<div class="form-group col-15">
					<h4>Password</h4>
					<input type="text" name="password" value="{{register.password}}">
				</div>
				<div class="form-group col-15">
					<h4>Approval</h4>
					<select name="salutation" required>
						<option value="Waiting">Waiting</option>
						<option value="Approved">Approved</option>
					</select>
				</div>
			</div>
			{% endif %}

			{% if session.editnumber == "2" %}
			<h1>Family Details</h1>
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
				<div class="col-xs-50 col-sm-50 col-md-50 col-lg-30 col-xl-30">
					<div class="form-group"><!--name-->
						<h4>Name :</h4>
						<select style="width: 20%; margin-right: -4px;" name="salutation">
							<option value="Mr. ">Mr.</option>
							<option value="Mrs. ">Mrs.</option>
							<option value="Master. ">Master.</option>
							<option value="Ms. ">Ms.</option>
							<option value="Dr. ">Dr.</option>
						</select>
						<input type="text" class="text" style="width: 80%;" name="name" value="{{familydet.name}}">
					</div>
					<div class="form-group"><!--address-->
						<h4>Address :</h4>
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="housest" value="{{familydet.housestreet}}">
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="locality" value="{{familydet.neighbourhood}}">
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="city" value="{{familydet.city}}">
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="state" value="{{familydet.state}}">
						<input type="text" class="text" style="width: 50%; margin-right: -4px;" name="pincode" value="{{familydet.pincode}}">
					</div>
					<div id="phone" class="form-group"><!--phone-->
						<h4>Phone Number :</h4>
						<input type="text" class="text" style="width: 50%;" name="phone" value="{{familydet.phone}}" readonly>
						<a href="#addphonenum" class="btn btn-default" data-toggle="tab" onclick="showPhoneInput.call(this, event)">Add Phone Number</a>
					</div>
					<div id="datetime" class="form-group">
						<h4>Date of Birth :</h4>
						<input type="date" class="text" name="dob" value="{{familydet.dateofbirth}}">
					</div>
					<div class="form-group"><!--familyname-->
						<h4>Family Name :</h4>
						<select name="familyname" onchange="showOtherInput.call(this, event)">
							<option value=""></option>
							{% for familyname in familynames %}
								<option value="{{familyname.name}}">{{familyname.name}}</option>
							{% endfor %}
							<option value="other">Other</option>
						</select>
					</div>
					<div id="otherinput" class="form-group" style="display: none;">
						<input class="text" type="text" name="otherfamilyname" value="">
						<h6>Enter Family Name</h6>
					</div>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
			</div>
			<div style="text-align: center;">
				<button type="submit" class="btn btn-primary text-center" onclick="phoneNumberCollect()" value="Submit">Submit</button>
			</div>
		</form>
		{% endif %}

		{% if session.editnumber == "3" %}
			<h1>Family Names Details</h1>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="text" value="{{familynames.name}}">
					</td>
				</tr>
			</table>
		{% endif %}

		<br>
		<div class="text-center">
			<a href="/admin/table/row/edit/{{session.editnumber}}/chooserow" class="btn btn-default btnstretch">Back</a>
		</div>
		<br>
		<script>
			function showOtherInput(event) {
				if (this.options[this.selectedIndex].text == "Other") {
					document.getElementById("otherinput").style.display = "block";
				} else {
					document.getElementById("otherinput").style.display = "none";
				}
			}
			function showPhoneInput(event) {
				var x = document.createElement("INPUT");
				x.setAttribute("type", "tel");
				x.setAttribute("pattern", "[+]{1}[0-9]/[-]{[1-5} [0-9]{[10-20]}");
				x.setAttribute("style", "width: 50%;")
				x.setAttribute("required", "");
				document.getElementById("phone").appendChild(x);
			}
			function phoneNumberCollect() {
				var phoneParent = document.getElementById("phone");
				var last = phoneParent.children.length;
				var combinedphone = phoneParent.children.item(1).value;
				for (let index = 3; index < last; index++) {
					combinedphone = combinedphone + ", " + phoneParent.children.item(index).value;
				}
				document.getElementById("phone").children.item(1).value = combinedphone;
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
