<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TKR Relatives</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>
			.btnstretch {
				width: 100%;
			}
			.btn-default {
				border: 1px solid #000;
			}
        </style>
    </head>
    <body>
        {% include "_navbar.html" %}
        {% include "_messages.html" %}
        <div class="text-center">
            <h1>TK Renganathan Relatives</h1>
        </div>
        <div align="right">
            <a href="/admin/relation/add" class="btn btn-default" style="width: 20%;">Add</a>
        </div>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Spouse</th>
                <th>Father</th>
                <th>Mother</th>
                <th>Children</th>
                <th>Sibling</th>
                <th></th>
            </tr>
            {% for relation in relation %}
                <tr>
                    <td>{{relation.id}}</td>
                    <td>{{relation.name}}</td>
                    <td><a href="/admin/relation/show/{{relation.spouse}}">{{relation.spouse}}</a></td>
                    <td><a href="/admin/relation/show/{{relation.father}}">{{relation.father}}</a></td>
                    <td><a href="/admin/relation/show/{{relation.mother}}">{{relation.mother}}</a></td>
                    <td id="{{relation.id}}children"></td>
                    <script>
                        var children = document.getElementById("{{relation.id}}children");
                        var childs = "{{relation.child}}".split(", ");
                        for (let i = 0; i < childs.length; i++) {
                            var anchor = document.createElement("a");
                            anchor.setAttribute("href", "/admin/relation/show/"+childs[i]);
                            anchor.innerHTML = childs[i]
                            children.appendChild(anchor);
                            var breaks = document.createElement("br");
                            children.appendChild(breaks);
                        }
                    </script>
                    <td id="{{relation.id}}siblings"></td>
                    <script>
                        var siblings = document.getElementById("{{relation.id}}siblings");
                        var sibs = "{{relation.sibling}}".split(", ");
                        for (let i = 0; i < sibs.length; i++) {
                            var anchor = document.createElement("a");
                            anchor.setAttribute("href", "/admin/relation/show/"+sibs[i]);
                            anchor.innerHTML = sibs[i]
                            siblings.appendChild(anchor);
                            var breaks = document.createElement("br");
                            siblings.appendChild(breaks);
                        }
                    </script>
                    <td><a href="/admin/relation/edit/{{relation.id}}" class="btn btn-default">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
        <div style="text-align: center;">
            <a href="/admin/dashboard" class="btn btn-default">Back</a>
        </div>
    </body>
</html>