<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TKR Relatives</title>
    </head>
    <body>
        <form action="/admin/table/extraadd" method="POST">
            <h1>Family Details</h1>
            <div class="row">
                <div class="form-group"><!--name-->
                    <h4>Id: </h4>
                    <input type="text" class="text" name="id">
                </div>
                <div id="phone" class="form-group"><!--phone-->
                    <h4>Phone Number :</h4>
                    <div>
                        <input type="text" name="phone" value="">
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary text-center" value="Submit">Submit</button>
            </div>
        </form>
		<div class="text-center">
			<a href="/admin/dashboard" class="btn btn-default btnstretch">Back</a>
		</div>
		<br>
</body>
</html>