<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TKR Relatives</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
        <link rel="stylesheet" href="/static/css/sixtyfoldcoloum.css">
		<link rel="stylesheet" href="/static/css/addedit.css">
	</head>
	<body>
		{% include "_navbar.html" %}
        {% include "_messages.html" %}
		<input type="text" id="stateslist" style="display: none;" value="{{states}}">
		<input type="text" id="citieslist" style="display: none;" value="{{cities}}">
		<input type="text" id="phonecodelist" style="display: none;" value="{{phonecode}}">
		<form method="POST" action="/details/edit">
			<h1 style="text-align: center;">Edit your account</h1>
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-15 col-xl-15"></div>
				<div class="col-xs-50 col-sm-50 col-md-50 col-lg-30 col-xl-30">
					<div class="form-group"><!--address-->
						<h4>Address :</h4>
						<input class="text" type="text" style="width: 50%; margin-right: -4px;" name="housest" value="{{profile.housestreet}}">
						<input class="text" type="text" style="width: 50%; margin-right: -4px;" name="locality" value="{{profile.neighbourhood}}">
						<select id="selectcountry" name="country" onchange="showState()" style="width: 50%; margin-right: -4px;">
							<option value="" hidden>Country</option>
							{% for country in country %}
								<option value="{{country[1]}} | {{country[0]}}">{{country[1]}}</option>
							{% endfor %}
						</select>
						<select id="selectstate" name="state" onchange="showCity()" style="width: 50%; margin-right: -4px;">
							<option value="" hidden>State</option>
							<option value="">Select Country</option>
						</select>
						<select id="selectcity" name="city" style="width: 50%; margin-right: -4px;">
							<option value="" hidden>City</option>
							<option value="">Select State</option>
						</select>
						<input class="text" type="text" style="width: 50%; margin-right: -4px;" name="pincode" value="{{profile.pincode}}">
					</div>
					<div id="phone" class="form-group"><!--phone-->
						<h4>Phone Number :</h4>
						<div id="extraphone2">
							<input type="text" name="phone" value="" style="display: none;">
						</div>
					</div>
					<a href="#addphonenum" class="btn btn-default" style="width: 50%;" data-toggle="tab" onclick="showPhoneInput()">Add Phone Number</a>
				</div>
			</div>
			<div style="text-align: center;">
				<button class="btn btn-primary"onclick="phoneNumberCollect()" value="Submit">Submit</button>
			</div>
			<div style="text-align: center;">
				<a class="btn btn-default" href="/index/sorting/default/asc">Back</a>
			</div>
		</form>
		<script src="/static/js/addedit.js"></script>
		<script>
			var selectedcountry = document.getElementById("selectcountry");
			for (let i = 0; i < selectedcountry.length; i++) {
				if (selectedcountry.options[i].text == "{{profile.country}}"){
					selectedcountry.options[i].selected = true;
					showState();
				}
			}
			var selectedstate = document.getElementById("selectstate");
			for (let i = 0; i < selectedstate.length; i++) {
				if (selectedstate.options[i].text == "{{profile.state}}") {
					selectedstate.options[i].selected = true;
					showCity();
				}
			}
			var selectedcity = document.getElementById("selectcity");
			for (let i = 0; i < selectedcity.length; i++) {
				if (selectedcity.options[i].text == "{{profile.city}}") {
					selectedcity.options[i].selected = true;
				}
			}
			var list = "{{profile.phone}}".split(", ");
			for (let i = 0; i < list.length; i++) {
				showPhoneInput(list[i]);
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
