<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/extracoloum.css">
		<style>
			.btnstretch {
				width: 100%;
			}
			.btn-default {
				border: 1px solid #000;
			}
		</style>
    </head>
    <body>
        {% include "_navbar.html" %}
		{% include "_messages.html" %}
        <div class="text-center">
            <h1>TK Renganathan Relatives</h1>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
				<h2 style="transform: translateX(2%);">Welcome {{session.name}}</h2>
			</div>
			<div class="col-xs-11 col-sm-11 col-md-11 col-lg-3 col-xl-3" align="right">
				<form action="/index" method="POST" width="300px"><!--Change the position to right end-->
					<label for="sorting">Sort by</label>
					<select name="sort" id="sorting" onchange="submit()">
						<option value="{{sort}}">{{sort}}</option>
						<option value="Name">Name</option>
						<option value="Phone">Phone Number</option>
						<option value="Family Name">Family Name</option>
					</select>
				</form>
			</div>
		</div>
		<table class="table table-striped">
			<tr>
				<th>S No</th>
				<th>Name</th>
				<th>Address</th>
				<th>Phone Number</th>
				<th>Family Name</th>
				<!--<th><a href="/details/add" class="btn btn-info btnstretch">Add</a></th>-->
				<th></th>
			</tr>
			{% for person in data %}
				<tr>
					<td>{{person.id}}</td>
					<td>{{person.name}}</td>
					<td>{{person.address}}</td>
					<td>{{person.phone}}</td>
					<td>{{person.familyname}}</td>
					{% if person.name == session.name %}
						<td><a href="/details/edit/{{person.id}}" class="btn btn-default btnstretch">Edit</a></td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
		<script>
		function submit() {
            document.getElementById("forms").submit();
        }
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    </body>
</html>