<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/sixtyfoldcoloum.css">
		<style>
			.btnstretch {
				width: 100%;
				height: 35px;
			}
			.btn-default {
				border: 1px solid #000;
			}
			.sortbutton {
				display: initial;
				width: 5px;
				padding: 5px;
			}
			select {
				width: 55%;
				height: 35px;
			}
			@media (max-width:768px) {
				html, body {
					font-size: 7px;
				}
				select {
					height: 15px;
				}
			}
			@media (min-width:768px) and (max-width:991px) {
				html, body {
					font-size: x-small;
				}
				select {
					height: 20px;
				}
			}
			.row {
				margin-left: 0px;
				margin-right: 0px;
			}
			.rowheading {
				padding-left: 0px;
				padding-right: 0px;
			}
			.rowheading div {
				white-space: nowrap;
			}
			.rowheading div h6, .rowheading div p {
				display: inline-block;
				padding-top: 5px;
			}
			.rowdata {
				padding-left: 0px;
				padding-right: 0px;
			}
			.rowdata p {
				margin-top: 10px;
			}
			h6 {
				font-weight: bolder;
			}
		</style>
    </head>
    <body>
        {% include "_navbar.html" %}
		{% include "_messages.html" %}
        <div class="row">
			<p class="col-15"></p>
            <h1 class="col-30 text-center">TK Renganathan Relatives</h1>
			<p class="col-15"></p>
        </div>
		<div class="row">
			<div class="col-xs-60 col-sm-60 col-md-60 col-lg-30 col-xl-30">
				<h2 style="transform: translateX(2%);">Welcome {{session.name}}</h2>
			</div>
			<div class="col-xs-60 col-sm-60 col-md-60 col-lg-30 col-xl-30">
				<div class="row">
					<div class="col-xs-25 col-sm-25 col-md-25 col-lg-25 col-xl-25" style="width: 100%;">
						<label for="sorting">Filter by</label>
						<select id="sorting" onchange="sortingOption(value)">
							<option id="default" value="default">Remove Filter</option>
							<option id="address" value="Address">City</option>
							<option id="family" value="FamilyName">Family Name</option>
						</select>
					</div>
					<div class="col-xs-25 col-sm-25 col-md-25 col-lg-25 col-xl-25" id="selectaddress" style="display: none;">
						<label for="valueinput">Select</label>
						<select name="rowval" id="addressvalue">
							{% for address in addressdata %}
								<option value="{{address.city}}">{{address.city}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-xs-25 col-sm-25 col-md-25 col-lg-25 col-xl-25" id="selectfamily" style="display: none;">
						<label for="valuinput">Select</label>
						<select name="rowval" id="familyvalue">
							{% for family in familynames %}
								<option value="{{family.name}}">{{family.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-xs-10 col-sm-10 col-md-5 col-lg-5 col-xl-5" id="formsubmitbutton" style="display: none;">
						<a href="#filtering" class="btn btn-default" onclick="filteringOption()">Go</a>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%;">
			<div class="row" style="background-color: lightsalmon;">
				<div class="col-1"></div>
				<div class="col-58 row rowheading" style="padding-top: 10px; padding-bottom: 10px;">
					<div class="col-5">
						<h6>S.No</h6>
						<a class="btn sortbutton" href="/index/sorting/default/asc" id="snosort">&darr;</a>
					</div>
					<div class="col-9">
						<h6>Name</h6>
						<a class="btn sortbutton" href="/index/sorting/name/asc" id="namesort">&darr;</a>
					</div>
					<div class="col-15">
						<h6>Address</h6>
						<a class="btn sortbutton" style="visibility: hidden;"></a>
					</div>
					<div class="col-9">
						<h6>Phone Number</h6>
						<a class="btn sortbutton" href="/index/sorting/phone/asc" id="phonesort">&darr;</a>
					</div>
					<div class="col-8">
						<h6>Date Of Birth</h6>
						<a class="btn sortbutton" href="/index/sorting/dob/asc" id="dobsort">&darr;</a>
					</div>
					<div class="col-9">
						<h6>Family Name</h6>
						<a class="btn sortbutton" href="/index/sorting/familyname/asc" id="familynamesort">&darr;</a>
					</div>
					<div class="col-5" style="overflow-x: auto;">
						<h6></h6>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
			{% for person in data %}
				<div class="row">
					<div class="col-1"></div>
					<div class="col-58 row rowdata">
						{% if person.name != "" %}
							<p class="col-5">{{person.id}}</p>
							<p class="col-9">{{person.salutation}} {{person.name}}</p>
							<p class="col-15">{{person.housestreet}},<br>{{person.neighbourhood}},<br>{{person.city}} - {{person.pincode}}<br>{{person.state}}</p>
							<p class="col-9">{{person.phone}}</p>
							<p class="col-8" id="date{{person.id}}">{{person.dateofbirth}}</p>
							<script>
								var date = "{{person.dateofbirth}}".split("-");
								document.getElementById("date{{person.id}}").innerHTML = date[2] + "-" + date[1] + "-" + date[0];
							</script>
							<p class="col-9">{{person.familyname}}</p>
							{% if session.admin or (person.salutation + person.name) == session.name and session.filter %}
								<p class="col-5"><a class="btn btn-default" href="/details/edit">Edit</a></p>
							{% else %}
								<p class="col-5"></p>
							{% endif %}
						{% endif %}
					</div>
					<div class="col-1"></div>
				</div>
			{% endfor %}
		</div>
		<script>
			if (screen.width < "768") {
				alert("Please turn your device to the side to view the table clearly");
			}
			var x = location.pathname.split("/");
			if (x[3] == undefined) {
				document.getElementById("default").text = "";
			} else {
				sortingOption(x[3]);
			}
			if ("{{session.sortby}}" == "asc") {
				if ("{{session.sortid}}" == "default") {
					document.getElementById("snosort").innerHTML = "&uarr;";
					document.getElementById("snosort").href = "/index/sorting/default/desc";
				} else if ("{{session.sortid}}" == "name") {
					document.getElementById("namesort").innerHTML = "&uarr;";
					document.getElementById("namesort").href = "/index/sorting/name/desc";
				} else if ("{{session.sortid}}" == "phone") {
					document.getElementById("phonesort").innerHTML = "&uarr;";
					document.getElementById("phonesort").href = "/index/sorting/phone/desc";
				} else if ("{{session.sortid}}" == "dob") {
					document.getElementById("dobsort").innerHTML = "&uarr;";
					document.getElementById("dobsort").href = "/index/sorting/dob/desc";
				} else if ("{{session.sortid}}" == "familyname") {
					document.getElementById("familynamesort").innerHTML = "&uarr;";
					document.getElementById("familynamesort").href = "/index/sorting/familyname/desc";
				}
			}
			/*Add script so that the dob shows in indian format (dd-mm-yyyy)*/
			function sortingOption(value) {
				if (value == "Address") {
					document.getElementById("default").text = "Remove Filter";
					document.getElementById("address").selected = true;
					document.getElementById("selectfamily").style.display = "none";
					document.getElementById("selectaddress").style.display = "block";
					document.getElementById("formsubmitbutton").style.display = "block";
				} else if (value == "FamilyName") {
					document.getElementById("default").text = "Remove Filter";
					document.getElementById("family").selected = true;
					document.getElementById("selectaddress").style.display = "none";
					document.getElementById("selectfamily").style.display = "block";
					document.getElementById("formsubmitbutton").style.display = "block";
				} else {
					document.getElementById("default").text = "";
					document.getElementById("default").selected = true;
					document.getElementById("selectaddress").style.display = "none";
					document.getElementById("selectfamily").style.display = "none";
					document.getElementById("formsubmitbutton").style.display = "none";
					if (location.pathname != "/index") {
						location.pathname = "/index";
					}
				}
			}
			function filteringOption() {
				if (document.getElementById("sorting").children.item(1).selected == true) {
					var rowvalue = document.getElementById("addressvalue").value;
					document.getElementById("formsubmitbutton").children.item(0).href = "/index/filter/Address/" + rowvalue;
				} else if (document.getElementById("sorting").children.item(2).selected == true) {
					var rowvalue = document.getElementById("familyvalue").value;
					document.getElementById("formsubmitbutton").children.item(0).href = "/index/filter/FamilyName/" + rowvalue;
				}
			}
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-15.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    </body>
</html>