<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/extracoloum.css">
        <style>
            html, body {
                max-height: 100%;
            }
            .carousel-caption {
                position: absolute;
                top: 0%;
                color: #000;
            }
            /*@media (max-width: 991px) {
                .phonecentering {
                    width: 40%;
                    position: relative;
                    transform: translateX(30%);
                }
            }*/
        </style>
    </head>
    <body>
        {% include "_navbar.html" %}<!--navbar height 65px-->
        {% include "_messages.html" %}
        <div class="container-fluid" style="padding-top: 5%;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
                <div class="carousel slide col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 text-center" data-ride="carousel"><!--Extra pics and stuff coloumn-->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/background.png" alt="" width="100%">
                            <div class="carousel-caption">
                                <h1>T K Renganathan Relatives</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 phonecentering row" style="padding-top: 5%;"><!--Login/Register Coloumn-->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-0 col-xl-0"></div>
                    <div id="loginbox" class="col-xs-4 col-sm-4 col-md-4 col-lg-12 col-xl-12">
                        <div>
                            <h2>Login</h2>
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <h4>Name</h4>
                                    <input type="text" name="name" id="">
                                </div>
                                <div class="form-group">
                                    <h4>Password</h4>
                                    <input type="password" name="password" id="">
                                </div>
                                <button type="submit" class="btn btn-primary" value="Submit" id="subtn">Submit</button>
                            </form>
                        </div>
                        <a href="#register" data-toggle="tab" onclick="changeRegister()">Register</a>
                    </div>
                    <div id="registerbox" class="col-xs-4 col-sm-4 col-md-4 col-lg-12 col-xl-12" style="display: none;">
                        <div>
                            <h2>Register</h2>
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <h4>Full Name</h4>
                                    <input type="text" name="name" id="">
                                </div>
                                <div class="form-group">
                                    <h4>Password</h4>
                                    <input type="password" name="password" id="">
                                </div>
                                <button type="submit" class="btn btn-primary" value="Submit" id="subtn">Submit</button>
                            </form>
                        </div>
                        <a href="#login" data-toggle="tab" onclick="changeLogin()">Login</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
            </div>
        </div>
        <script>
            function changeRegister() {
                document.getElementById("loginbox").style.display = "none";
                document.getElementById("registerbox").style.display = "block";
            }
            function changeLogin() {
                document.getElementById("registerbox").style.display = "none";
                document.getElementById("loginbox").style.display = "block";
            }
        </script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    </body>
</html>